html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 40px;
  border: 1px solid red;
  background-color: #d18c1d;
  padding: 10px;
  margin-bottom: 20px;
}
p {
  height: 600px;
  width: 400px;
  background-color: #d1d631;
  border: 2px dotted black;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 15px;
}
img {
  width: 400px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 8px;
}
.circle {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 8px;
}

h3 {
  font-size: 25px;
  padding: 8px 8px;
  margin-bottom: 10px;
}
a {
  border-bottom: 3px dashed blue;
  background-color: #a1a1a1;
  font-size: 20px;
  padding: 10px;
  margin-left: 8px;
}
