html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}
header {
  font-size: 48px;
  text-align: center;
}
hr {
  color: gray;
  margin: 40px 400px 40px 400px;
  border: 1px dotted gray;
}
h2 {
  text-align: center;
  font-size: 24px;
  margin: 48px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: rgb(157, 209, 157);
  border: 20px solid rgb(125, 170, 179);
  outline: 4px solid black;
  box-shadow: 0 0 0 20px crimson;
  margin: 0 auto;
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(157, 209, 157);
  vertical-align: middle;
}
.container2 {
  margin-top: 48px;
  text-align: center;
}
.content {
  background-color: rgb(157, 209, 157);
}
.padding {
  background-color: rgb(125, 170, 179);
}
.border {
  background-color: black;
}
.margin {
  background-color: crimson;
}
.box-container {
  width: 600px;
  border: 1px solid gray;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
}
.inner-box {
  display: inline-block;
  width: 180px;
  height: 100px;
  background-color: gray;
  margin: 10px;
  
}
.border-1{
  border: 1px solid gray;
}
.border-box{
  box-sizing: border-box;
}