html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  margin: 30px 20px;
}

.box {
  height: 70px;
  width: 100px;
  background-color: maroon;
  margin: 20px;
}
#box1 {
  border: 3px solid black;
}
#box2 {
  border: 3px double black;
  display: inline-block;
}
#box3 {
  border: 3px dashed black;
  display: inline-block;
}
#box4 {
  border: 3px dotted black;
  display: inline-block;
}
#box5 {
  border: none;
  display: inline-block;
}
#box6 {
  height: 300px;
  width: 300px;
  background-color: red;
  color: white;
  padding: 15px;
  margin: 20px;
  border-top: 15px solid blue;
  border-left: 15px solid green;
  border-right: 15px solid grey;
  border-bottom: 15px solid yellow;
  outline: 15px solid purple;
}
