html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custome css starts here */

h1{
  font-size: 24px;
  text-align: center;
  padding: 24px;
}

.box{
  background-color:crimson;
  width: 80px;
  height: 60px;
  border: 3px solid black;
  display: inline-block;
  margin: 20px;

}

.b3{
  border: 3px dashed black;
}

.b4{
  border: 3px dotted black;
}

.b5{
  border: 0px dashed black;
}

.rows{
  margin: 40px;
}
p{
  width: 220px;
  height: 350px;
  background-color: blueviolet;
  margin: 60px;
  border-top: 20px solid blue;
  border-right: 20px solid gray;
  border-bottom: 20px solid yellow ;
  border-left: 20px solid green;
  box-shadow: 0 0 0 20px violet;
  color: white;
  padding: 10px;
}